.navigation{
  &-bar {
    height: 98%;
    margin: 8px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-link {
    text-decoration: none;
    color: #fff;
  }
}
